body {
    font-family: "Open Sans", sans-serif;
    
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}


.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to top, rgba(150, 0, 7, 0), rgba(11, 10, 35, 1));
    color: white;
}
.reserve{
    background-color: #003f57;

}
.imgcarousel{
    width:100%;
    height: 100%;
}
.row-alighnment{
   
     margin-top: 0;
     margin-bottom: 50px;
}

.hoverover:hover{
  background-color: rgb(213, 213, 201);

}

.row-content  {
    padding: 50px 0;
    /* border-bottom:2px solid rgb(240, 242, 243);     */
    border-bottom: 1px ridge;
    /* border-bottom-color: initial; */

    min-height: 200px;
}
.navbar{
   
  
     background-color: #003f57;
   
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.carousel-caption {
    background-color: rgba(157, 154, 154, 0.5);
}



 a:hover{
    color: darkblue;
}

.site-footer {
   color: white;
    margin-top: 20px;
    min-height: 300px;
    padding: 20px 0;
   
    background-color: #003f57; }
    @media (min-width: 0) and (max-width: 600px) {
        .site-footer{
        display: none; } }